Repository Sanefoxx/sausage-shop-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend, backend-report

.gitlab-ci.yml:

stages:
  - module-pipelines
  - deploy-vault

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend # depend нужен, если какой-нибудь дочерний пайплайн свалился, мы знали, что общий пайплайн тоже идёт с ошибкой
  only:
    changes: # как только происходит изменение в папке frontend, запускается дочерний пайплайн, который лежит в этой папке
      - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:  # как только происходит изменение в папке backend, запускается дочерний пайплайн, который лежит в этой папке
      - backend/**/*

backend-report:
  stage: module-pipelines
  trigger:
    include:
      - "/backend-report/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:
      - backend-report/**/*

deploy-vault:
  stage: deploy-vault
  image: alpine:3.15.0
  when: manual
  before_script:
    - apk add openssh-client bash
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - scp ./docker-compose.yml ${DEV_USER}@${DEV_HOST}:/home/${DEV_USER}/docker-compose.yml
    - ssh ${DEV_USER}@${DEV_HOST}
      "export "VERSION=${VERSION}";
      export "CI_REGISTRY_USER=${CI_REGISTRY_USER}";
      export "CI_REGISTRY_PASSWORD=${CI_REGISTRY_PASSWORD}";
      export "CI_REGISTRY=${CI_REGISTRY}";
      export "VAULT_TOKEN=${VAULT_TOKEN}"
      export "MONGODB_URL=${MONGODB_URL}"
      export "DATASRC_PASS_PSQL=${DATASRC_PASS_PSQL}";
      export "PSQL_DATASRC=${PSQL_DATASRC}";
      export "TEST_DATASRC_PSQL_USER=${TEST_DATASRC_PSQL_USER}";
      export "TEST_DATASRC_PSQL_PASS=${TEST_DATASRC_PSQL_PASS}";
      /bin/bash -s " < vault_deploy.sh

Fix ci
  vault_deploy.sh
Due: none

Fix ci
  docker-compose.yml
  vault_deploy.sh
Due: none

Fix ci
  docker-compose.yml
Due: none

Fix ci
  backend-report/backend_report_deploy.sh
  backend-report/src/main/resources/application.properties
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
  vault_deploy.sh
Due: frontend, backend, backend-report

Fix ci
  backend/backend_deploy.sh
Due: backend

Fix ci
  backend/backend_deploy.sh
  docker-compose.yml
Due: backend

Fix ci
  .gitlab-ci.yml
Due: none

Add vault vars
  docker-compose.yml
Due: none

Add vars to deploy
  .gitlab-ci.yml
Due: none

Resolve "Loadbalancer"
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
  docker-compose.yml
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/nginx.tmpl
Due: frontend, backend, backend-report

Resolve "Blue/Green deployment"
  backend-report/.gitlab-ci.yml
  backend/backend_deploy.sh
  backend/pom.xml
  docker-compose.yml
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/frontend_deploy.sh
Due: frontend, backend, backend-report

check image
  frontend/Dockerfile
Due: frontend

Check trigger
  backend/.gitlab-ci.yml
Due: backend

Check trigger
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend, backend-report

Check trigger
  backend-report/.gitlab-ci.yml
Due: backend-report

Check trigger #2
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend, backend-report

Test
  backend-report/.gitlab-ci.yml
Due: backend-report

Prometheus metrics added
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/service/BusinessMetricsService.java
  backend/src/main/java/com/yandex/practicum/devops/service/OrderServiceImpl.java
  backend/src/main/resources/application.properties
Due: backend

Test
  backend/.gitlab-ci.yml
Due: backend

Update README.md
  README.md
Due: none
